@model WebApplication1.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h1>Record a new patient</h1>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container border p-3 mb-3">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PatientName" class="control-label">First Name</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PatientName" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PatientLastName" class="control-label">Surname</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PatientLastName" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PatientLastName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PatientDateOfBirth" class="control-label">Date of Birth</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PatientDateOfBirth" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PatientDateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="IDNumber" class="control-label">ID Number</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="IDNumber" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PatientGender" class="control-label">Gender</label>
                </div>
                <div class="col-md-8">
                    <select asp-for="PatientGender" class="form-control">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PatientGender" class="text-danger"></span>
                </div>
            </div>

            <br />
        
            <div class="form-group">
                <label asp-for="PatientAddress" class="control-label">Address</label>
                <textarea asp-for="PatientAddress" class="form-control" rows="5" placeholder="Enter your address here"></textarea>
                <span asp-validation-for="PatientAddress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PostalCode" class="control-label">Postal Code</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PostalCode" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label asp-for="PatientContactNumber" class="control-label">Contact Number</label>
                </div>
                <div class="col-md-8">
                    <input asp-for="PatientContactNumber" class="form-control" />
                </div>
                <div class="col-sm-4">
                    <span asp-validation-for="PatientContactNumber" class="text-danger"></span>
                </div>
            </div>
            <br />
        
            <div class="form-group">
                <label asp-for="PatientEmailAddress" class="control-label"></label>
                <input asp-for="PatientEmailAddress" class="form-control" />
                <span asp-validation-for="PatientEmailAddress" class="text-danger"></span>
            </div>
            </div>
            <br />
            <div class="container border p-3 mb-3">
                <p>Is the Paitent an adult?</p>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="PatientEmployerCellNo" class="control-label">Employer Cell Number</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="PatientEmployerCellNo" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="PatientEmployerCellNo" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="PatientOccupation" class="control-label">Occupation</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="PatientOccupation" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="PatientOccupation" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SpouseName" class="control-label"></label>
                    <input asp-for="SpouseName" class="form-control" />
                    <span asp-validation-for="SpouseName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SpouseContactNo" class="control-label"></label>
                    <input asp-for="SpouseContactNo" class="form-control" />
                    <span asp-validation-for="SpouseContactNo" class="text-danger"></span>
                </div>

            </div>
     @*        <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div> *@

@*             <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div> *@
@*             <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                </label>
            </div>
    *@

            <div class="container border p-3 mb-3">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isPatientStudent" /> Is the patient a student?
                    </label>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="School" class="control-label">School Name</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="School" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="School" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label asp-for="Grade" class="control-label">Grade</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Grade" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <span asp-validation-for="Grade" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Teacher" class="control-label">Teacher's Name' </label>
                    <input asp-for="Teacher" class="form-control" />
                    <span asp-validation-for="Teacher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SchoolContactNo" class="control-label"> School Contact Number</label>
                    <input asp-for="SchoolContactNo" class="form-control" />
                    <span asp-validation-for="SchoolContactNo" class="text-danger"></span>
                </div>
                <br />
                <div class="row">
                    <br />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FatherDetails" class="control-label"></label>
                            <input asp-for="FatherDetails" class="form-control" />
                            <span asp-validation-for="FatherDetails" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FathersName" class="control-label"></label>
                            <input asp-for="FathersName" class="form-control" />
                            <span asp-validation-for="FathersName" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FatherOccupation" class="control-label"></label>
                            <input asp-for="FatherOccupation" class="form-control" />
                            <span asp-validation-for="FatherOccupation" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FatherAddress" class="control-label"></label>
                            <input asp-for="FatherAddress" class="form-control" />
                            <span asp-validation-for="FatherAddress" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FatherWorkPhone" class="control-label"></label>
                            <input asp-for="FatherWorkPhone" class="form-control" />
                            <span asp-validation-for="FatherWorkPhone" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FatherCellPhone" class="control-label"></label>
                            <input asp-for="FatherCellPhone" class="form-control" />
                            <span asp-validation-for="FatherCellPhone" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="FatherEmail" class="control-label"></label>
                            <input asp-for="FatherEmail" class="form-control" />
                            <span asp-validation-for="FatherEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MotherDetails" class="control-label"></label>
                            <input asp-for="MotherDetails" class="form-control" />
                            <span asp-validation-for="MotherDetails" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="MotherName" class="control-label"></label>
                            <input asp-for="MotherName" class="form-control" />
                            <span asp-validation-for="MotherName" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="MotherOccupation" class="control-label"></label>
                            <input asp-for="MotherOccupation" class="form-control" />
                            <span asp-validation-for="MotherOccupation" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="MotherAddress" class="control-label"></label>
                            <input asp-for="MotherAddress" class="form-control" />
                            <span asp-validation-for="MotherAddress" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="MotherCellphone" class="control-label">Mother's Contact Number</label>
                                <input asp-for="MotherCellphone" class="form-control" />
                            <span asp-validation-for="MotherCellphone" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="MotherWorkPhone" class="control-label">Mother's Work Number</label>
                        
                                <input asp-for="MotherWorkPhone" class="form-control" />
                        
                         
                                <span asp-validation-for="MotherWorkPhone" class="text-danger"></span>
                           
                        </div>
                        <br />
                        <div class="form-group">
                            
                                <label asp-for="MotherEmail" class="control-label">Mother Email Address</label>
                           
                                <input asp-for="MotherEmail" class="form-control" />
                     
                                <span asp-validation-for="MotherEmail" class="text-danger"></span>
                        
                        </div>
                    </div>
                </div>

    

            </div>


  
 

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
