@model WebApplication1.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorID" />
            <div class="form-group">
                <label asp-for="DoctorType" class="control-label">Doctor Occupation</label>
                <input asp-for="DoctorType" class="form-control" />
                <span asp-validation-for="DoctorType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label">Doctor Name</label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorInstitution" class="control-label">Institution</label>
                <input asp-for="DoctorInstitution" class="form-control" />
                <span asp-validation-for="DoctorInstitution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorContactNo" class="control-label">Contact Number</label>
                <input asp-for="DoctorContactNo" class="form-control" />
                <span asp-validation-for="DoctorContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorEmailAddress" class="control-label">Email Address</label>
                <input asp-for="DoctorEmailAddress" class="form-control" />
                <span asp-validation-for="DoctorEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
